* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #333;
  text-align: center;
  border: none;
  font-size: 13px;
}
/* 마진 클래스 & 패딩 클래스 */
.mb_10 {
  margin-bottom: 10px;
}
.mb_20 {
  margin-bottom: 20px;
}
.map_main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.map_kakao {
}
.map_list {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 350px;
  height: 100vh;
  margin: -2px;
  background-color: #fff;
  border: 1px solid #eee;
}

/* 지도 타이틀 */
.map_top {
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 1;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
}
.map_title {
  padding: 4px 15px;
  font-size: 15px;
  text-align: left;
  word-break: break-word;
  color: #333;
}
/*search 박스*/
.search_box {
  padding: 4px 15px;
  display: flex;
  justify-content: space-between;
}
.search_bar {
  text-align: left;
  padding: 6px;
  border: 1px solid #0a5aaf;
  border-radius: 5px;
  margin-right: 5px;
}
.search_box > .buttons {
  padding: 6px;
}

/* 모달 */
/* 모달 외곽 위치 */
.modal_container {
}
.modal_background {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal_wrap {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
}

/* 이니셜 모달 */
.initial_box {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* 메모상세 모달 */
.modal_memo_wrap {
  width: 60vw;
  max-width: 800px;
  padding: 30px;
}

.form_w100 {
  width: 100%;
}

.input_wrap {
  padding-bottom: 20px;
  position: relative;
}

.input_wrap > input {
  width: calc(100% - 18px);
  display: inline-block;
  text-align: left;
  padding: 8px;
  border: 1px solid #0a5aaf;
  border-radius: 5px;
  color: #333;
}

.input_wrap > textarea {
  resize: none;
  width: calc(100% - 12px);
  height: 300px;
  text-align: left;
  padding: 5px;
  border: 1px solid #0a5aaf;
}

.input_label {
  display: block;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  color: #0a5aaf9b;
  word-break: keep-all;
}

.input_wrap > input::placeholder {
  color: #0a5aaf42;
  font-weight: bold;
  text-overflow: ellipsis;
}

.input_wrap > input.input_underline {
  border: none;
  border-bottom: 1px solid #0a5aaf;
  border-radius: 0;
}

.info_contents {
  position: absolute;
  bottom: 5px;
  left: -16px;
  display: inline-block;
  background-color: #0475f4;
  border-radius: 15px;
  font-size: 15px;
  line-height: 2;
  padding: 3px 15px;
}

/* 버튼 */
.buttons {
  padding: 8px;
  display: inline-block;
  background-color: #0475f4;
  border: 1px solid #0a5aaf;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
}
.w100 {
  width: 100%;
}

.button_label_img_add {
  background-color: #0475f4;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  width: calc(100% - 18px);
}

.button_label_img_add > span {
  display: inline-block;
  width: 100%;
  font-size: 12px;
}

.button_img_add {
  opacity: 0;
  margin-bottom: 10px;
}

.file_preview {
  display: flex;
  flex-wrap: wrap;
}

.file_preview > li {
  margin-top: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.file_preview > li > img {
  width: 100%;
  background-size: cover;
}
.file_preview > li:last-child {
  margin-right: 0;
}
