* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #333;
  text-align: center;
}
.map_main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.map_kakao {
}
.map_list {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 350px;
  height: 100vh;
  margin: -2px;
  background-color: #fff;
  border: 1px solid #eee;
}

/* 지도 타이틀 */
.map_top {
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 1;
  width: 250px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
}
.map_title {
  padding: 4px 15px;
  font-size: 15px;
  text-align: left;
  word-break: break-word;
  color: #333;
}
/*search 박스*/
.search_box {
  padding: 4px 15px;
  display: flex;
  justify-content: space-between;
}
.search_box > input {
  text-align: left;
}
.search_box > button {
}

/* 모달 */
.modal_container {
}
.modal_background {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal_wrap {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
}

.initial_box {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_wrap > input {
  text-align: left;
}
