* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #333;
  text-align: center;
}
.map_main {
  position: relative;
  display: flex;
}
.map_kakao {
  position: absolute;
  z-index: -1;
}
.map_list {
  width: 350px;
  height: 100vh;
  margin: -2px;
  border: 1px solid red;
}

/* 모달 */
.modal_background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1;
  border-radius: 5px;
}

.initial_box {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
